%h2 Your song has been uploaded successfully.
.song-feedback-button-reg
  %a{:href => "/#/myfeedback/upload"} Upload Another Song
.song-feedback-button-reg
  %a{:href => "/#/songs/recent"} View Your song