:javascript
  if (document.location.pathname != "/"){window.location = document.location.origin + "/#" + document.location.pathname;}
.my-songs-title
  .title My Songs
  .upload
    %a.ajax#add-button{:href => "myfeedback/upload"} + Add a Song
= render :partial => "songs"