$sf_gray: #606463
$sf_dark_gray: #4B4F4E
$player_background: #333333
$player_webkit: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, rgb(61,61,61)),color-stop(0.6, rgb(35,35,35)))
$player_moz: -moz-linear-gradient(center bottom,rgb(61,61,61) 20%,rgb(35,35,35) 60%)
$sf_pri: #77CFDF
$sf_sec: blue
$sf_white: #F2F2F2
$dark_rows_webkit: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, rgb(35,35,35)),color-stop(0.6, rgb(51,51,51)))
$dark_rows_moz: -moz-linear-gradient(center bottom,rgb(35,35,35) 20%,rgb(51,51,51) 60%)
$progress_bar_webkit: -webkit-gradient(linear, left bottom, left top, color-stop(0.41, rgb(85,89,91)), color-stop(0.91, rgb(120,124,125)))
$progress_bar_moz: -moz-linear-gradient(center bottom, rgb(85,89,91) 41%, rgb(120,124,125) 91%)