body
  font-family: "Helvetica Neue", Helvetica, Verdana, Sans-Serif
  font-size: 0.9em
  margin: 0
  //background: url(/images/brushed_alu.png)

a
  text-decoration: none
  color: #32312f
  cursor: pointer

a:hover
  color: $sf_pri

img
  border: none

ul
  list-style-type: none
  padding: 0
  margin: 0

#banner
  width: 100%
  height: 50px
  background-color: $sf_gray
  margin: 0
  padding: 0

#container
  overflow: auto
  position: relative
  top: -50px
  width: 850px
  padding: 0 0 15px 15px
  margin: 0 auto
  #header
    height: 50px
    width: 100%
    #menu
      float: right
      overflow: auto
      width: 568px
      height: 50px
      color: $sf_white
      font-size: 16px
      font-weight: normal
      margin: 14px 0 0 30px
      #menu-songs
        overflow: auto
        float: left
        padding: 4px 12px 5px 8px
        margin-right: 10px
        -moz-border-radius: 5px 5px 0 0
        -webkit-border-radius: 5px 5px 0 0
        .songs
          float: left
        .arrow
          width: 57px
          height: 14px
          background: url(/images/sprites.png) no-repeat 22px -171px
      #menu-myfeedback
        overflow: auto
        float: left
        padding: 4px 12px 5px 8px
        margin-right: 10px
        -moz-border-radius: 5px 5px 0 0
        -webkit-border-radius: 5px 5px 0 0
        .myfeedback
          float: left
        .arrow
          width: 108px
          height: 14px
          background: url(/images/sprites.png) no-repeat 74px -171px
      #menu-myaccount
        overflow: auto
        float: right
        padding: 4px 8px 5px 8px
        margin-right: 10px
        -moz-border-radius: 5px 5px 0 5px
        -webkit-border-radius: 5px 5px 0 5px
        min-width: 67px
        .myaccount
          float: right
        .arrow
          float: right
          width: 10px
          height: 14px
          background: url(/images/sprites.png) no-repeat -23px -171px
      #menu-songs-list
        background: $sf_dark_gray
        position: absolute
        width: 120px
        z-index: 1000
        left: 297px
        top: 40px
        margin: 0
        padding: 0
        display: none
        -moz-border-radius: 0 5px 5px 5px
        -webkit-border-radius: 0 5px 5px 5px
        -moz-box-shadow: 0px 8px 8px #888
        -webkit-box-shadow: 0px 8px 8px #888
        ul
          a
            font-size: 13px
            display: block
            outline: 0
            padding: 4px 10px
            background-color: $sf_dark_gray
            color: white
            &:hover
              background-color: $sf_pri

          li
            .last
              -moz-border-radius: 0 0 5px 5px
              -webkit-border-radius: 0 0 5px 5px
            .first
              -moz-border-radius: 0 5px 0 0
              -webkit-border-radius: 0 5px 0 0
      #menu-myfeedback-list
        background: $sf_dark_gray
        position: absolute
        z-index: 1000
        left: 384px
        top: 40px
        margin: 0
        padding: 0
        display: none
        -moz-border-radius: 0 5px 5px 5px
        -webkit-border-radius: 0 5px 5px 5px
        -moz-box-shadow: 0px 8px 8px #888
        -webkit-box-shadow: 0px 8px 8px #888
        ul
          a
            font-size: 13px
            display: block
            outline: 0
            padding: 4px 10px
            background-color: $sf_dark_gray
            color: white
            &:hover
              background-color: $sf_pri
          #user-stat-container
            margin: 5px
            background: $sf_light_gray
            border-top: 1px solid white
            .menu-stat
              display: block
              outline: 0
              padding: 4px 10px
              color: $sf_dark_gray
          li
            .last
              -moz-border-radius: 0 0 5px 5px
              -webkit-border-radius: 0 0 5px 5px
            .first
              -moz-border-radius: 0 5px 0 0
              -webkit-border-radius: 0 5px 0 0
      #menu-myaccount-list
        background: $sf_dark_gray
        position: absolute
        z-index: 1000
        left: 785px
        top: 40px
        margin: 0
        padding: 0
        display: none
        -moz-border-radius: 0 5px 5px 5px
        -webkit-border-radius: 0 5px 5px 5px
        -moz-box-shadow: 0px 8px 8px #888
        -webkit-box-shadow: 0px 8px 8px #888
        ul
          a
            font-size: 13px
            display: block
            outline: 0
            padding: 4px 10px
            background-color: $sf_dark_gray
            color: white
            &:hover
              background-color: $sf_pri

          li
            .last
              -moz-border-radius: 0 0 5px 5px
              -webkit-border-radius: 0 0 5px 5px


  #main-section-frame
    overflow: auto
    float: right
    width: 575px
    margin: 0 0 10px

  .menu-background
    background-color: $sf_dark_gray


#duplicate-review
  display: none

#review-submitted
  display: none

#current-song-stats
  display: none

#error-message
  display: none

.modal-popup
  position: absolute
  top: 200px
  left: 250px
  width: 380px
  padding: 10px
  background: $sf_gray
  border: 4px solid white
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  color: white
  font-size: 16px
  #error-message-text
    padding-bottom: 40px
  #message
    padding-bottom: 40px
  #no
    padding: 5px 10px
    float: right
    background: $sf_light_gray
    &:hover
      background: $sf_dark_gray
      color: white
    border: 2px solid white
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    color: #111
    font-size: 14px
    margin-right: 10px
    cursor: pointer
  #yes
    padding: 5px 10px
    float: right
    background: $sf_light_gray
    &:hover
      background: $sf_dark_gray
      color: white
    border: 2px solid white
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    color: #111
    font-size: 14px
    cursor: pointer
  z-index: 10000

.modal-popup-stats
  position: absolute
  top: 100px
  left: 250px
  width: 380px
  max-height: 425px
  overflow: auto
  padding: 10px
  background: $sf_gray
  border: 4px solid white
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  color: white
  font-size: 16px
  #message
    padding-bottom: 40px
  #no
    float: right
    height: 21px
    width: 21px
    background: url(/images/sprites.png) no-repeat -147px -108px
    &:hover
      background-position: -181px -108px
    -moz-border-radius: 5px 5px 0 0
    -webkit-border-radius: 5px 5px 0 0
    color: white
    font-size: 10px
    cursor: pointer
    font-weight: bold
  #yes
    padding: 5px 10px
    float: right
    color: $sf_white
    font-size: 14px
    cursor: pointer
  z-index: 10000

#song-just-reviewed
  font-weight: bold

#darkener
  display: none
  background-color: #000
  position: fixed
  opacity: .4
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9999

#darkener-click
  display: none
  background-color: #000
  position: fixed
  opacity: .4
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9999