#login {
  width: 345px;
  margin: 30px auto; }
  #login h1 {
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 5px 0;
    color: #4b4f4e; }
  #login #login-form {
    overflow: auto;
    margin: 10px 0;
    padding: 10px 20px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc; }
    #login #login-form .form-item {
      padding-top: 10px; }
      #login #login-form .form-item .input {
        padding: 8px 5px 5px;
        font-size: 12px;
        width: 300px;
        border-top: 1px solid #888888;
        border-bottom: 2px solid #eeeeee;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        color: #606463;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
        #login #login-form .form-item .input:selected {
          background: green; }
    #login #login-form #login-submit {
      float: right;
      padding: 5px;
      font-size: 16px;
      width: 100px;
      border-top: 1px solid #888888;
      border-bottom: 2px solid #eeeeee;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #81c3cf;
      cursor: pointer; }
    #login #login-form #register-submit {
      margin-top: 15px;
      float: right;
      padding: 5px;
      font-size: 16px;
      width: 100px;
      border-top: 1px solid #888888;
      border-bottom: 2px solid #eeeeee;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #81c3cf;
      cursor: pointer; }

body {
  font-family: "Helvetica Neue", Helvetica, Verdana, Sans-Serif;
  font-size: 0.9em;
  margin: 0; }

a {
  text-decoration: none;
  color: #32312f;
  cursor: pointer; }

a:hover {
  color: #81c3cf; }

img {
  border: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

#banner {
  width: 100%;
  height: 50px;
  background-color: #606463;
  margin: 0;
  padding: 0; }

#container {
  overflow: auto;
  position: relative;
  top: -50px;
  width: 850px;
  padding: 0 0 15px 15px;
  margin: 0 auto; }
  #container #header {
    height: 50px;
    width: 100%; }
    #container #header #menu {
      float: right;
      overflow: auto;
      width: 568px;
      height: 50px;
      color: #f2f2f2;
      font-size: 16px;
      font-weight: normal;
      margin: 14px 0 0 30px; }
      #container #header #menu #menu-songs {
        overflow: auto;
        float: left;
        padding: 4px 12px 5px 8px;
        margin-right: 10px;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0; }
        #container #header #menu #menu-songs .songs {
          float: left; }
        #container #header #menu #menu-songs .arrow {
          width: 57px;
          height: 14px;
          background: url(/images/sprites.png) no-repeat 22px -171px; }
      #container #header #menu #menu-myfeedback {
        overflow: auto;
        float: left;
        padding: 4px 12px 5px 8px;
        margin-right: 10px;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0; }
        #container #header #menu #menu-myfeedback .myfeedback {
          float: left; }
        #container #header #menu #menu-myfeedback .arrow {
          width: 108px;
          height: 14px;
          background: url(/images/sprites.png) no-repeat 74px -171px; }
      #container #header #menu #menu-myaccount {
        overflow: auto;
        float: right;
        padding: 4px 8px 5px 8px;
        margin-right: 10px;
        -moz-border-radius: 5px 5px 0 5px;
        -webkit-border-radius: 5px 5px 0 5px; }
        #container #header #menu #menu-myaccount .myaccount {
          float: right; }
        #container #header #menu #menu-myaccount .arrow {
          float: right;
          width: 10px;
          height: 14px;
          background: url(/images/sprites.png) no-repeat -23px -171px; }
      #container #header #menu #menu-songs-list {
        background: #4b4f4e;
        position: absolute;
        z-index: 1000;
        left: 297px;
        top: 40px;
        margin: 0;
        padding: 0;
        display: none;
        -moz-border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-box-shadow: 0px 8px 8px #888888;
        -webkit-box-shadow: 0px 8px 8px #888888; }
        #container #header #menu #menu-songs-list ul a {
          display: block;
          outline: 0;
          padding: 4px 10px;
          background-color: #4b4f4e;
          color: white; }
          #container #header #menu #menu-songs-list ul a:hover {
            background-color: #81c3cf; }
        #container #header #menu #menu-songs-list ul li .last {
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px; }
        #container #header #menu #menu-songs-list ul li .first {
          -moz-border-radius: 0 5px 0 0;
          -webkit-border-radius: 0 5px 0 0; }
      #container #header #menu #menu-myfeedback-list {
        background: #4b4f4e;
        position: absolute;
        z-index: 1000;
        left: 384px;
        top: 40px;
        margin: 0;
        padding: 0;
        display: none;
        -moz-border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-box-shadow: 0px 8px 8px #888888;
        -webkit-box-shadow: 0px 8px 8px #888888; }
        #container #header #menu #menu-myfeedback-list ul a {
          display: block;
          outline: 0;
          padding: 4px 10px;
          background-color: #4b4f4e;
          color: white; }
          #container #header #menu #menu-myfeedback-list ul a:hover {
            background-color: #81c3cf; }
        #container #header #menu #menu-myfeedback-list ul li .last {
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px; }
        #container #header #menu #menu-myfeedback-list ul li .first {
          -moz-border-radius: 0 5px 0 0;
          -webkit-border-radius: 0 5px 0 0; }
      #container #header #menu #menu-myaccount-list {
        background: #4b4f4e;
        position: absolute;
        z-index: 1000;
        left: 749px;
        top: 40px;
        margin: 0;
        padding: 0;
        display: none;
        -moz-border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-box-shadow: 0px 8px 8px #888888;
        -webkit-box-shadow: 0px 8px 8px #888888; }
        #container #header #menu #menu-myaccount-list ul a {
          display: block;
          outline: 0;
          padding: 4px 10px;
          background-color: #4b4f4e;
          color: white; }
          #container #header #menu #menu-myaccount-list ul a:hover {
            background-color: #81c3cf; }
        #container #header #menu #menu-myaccount-list ul li .last {
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px; }
    #container #header #player {
      float: left;
      width: 250px;
      background: #333333;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #3d3d3d), color-stop(0.6, #232323));
      background-image: -moz-linear-gradient(center bottom, #3d3d3d 20%, #232323 60%);
      margin-top: 5px;
      -moz-box-shadow: 0px 0px 15px #333333;
      -webkit-box-shadow: 0px 0px 15px #333333; }
      #container #header #player #player-header {
        height: 50px;
        width: 100%;
        background: url(/images/sprites.png) no-repeat 16px 6px;
        background-color: #81c3cf;
        margin-bottom: 15px; }
      #container #header #player #player-title p {
        font-size: 14px;
        font-weight: bold;
        color: #f2f2f2;
        margin: 4px;
        padding: 0;
        text-align: center; }
      #container #header #player #player-artist p {
        font-size: 14px;
        color: #f2f2f2;
        margin: 4px;
        padding: 0;
        text-align: center; }
      #container #header #player #player-description p {
        font-size: 11px;
        color: #f2f2f2;
        margin: 4px;
        padding: 0;
        text-align: center; }
      #container #header #player #player-controls {
        overflow: auto; }
      #container #header #player #play-pause-control {
        float: left;
        margin: 4px 0 0 -10px;
        height: 32px;
        width: 32px;
        cursor: pointer; }
        #container #header #player #play-pause-control #play-button {
          height: 32px;
          width: 32px;
          background: url(/images/sprites.png) no-repeat -10px -57px; }
          #container #header #player #play-pause-control #play-button:hover {
            background-position: -40px -57px; }
      #container #header #player #player-time {
        height: 11px;
        float: right;
        width: 183px;
        position: relative;
        top: 0px;
        left: 0px;
        margin: 17 10px 0 2px; }
        #container #header #player #player-time #progress-bar {
          overflow: auto;
          height: 11px;
          background-color: #55595b;
          background: -webkit-gradient(linear, left bottom, left top, color-stop(0.41, #55595b), color-stop(0.91, #787c7d));
          background: -moz-linear-gradient(center bottom, #55595b 41%, #787c7d 91%);
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          margin: 0; }
          #container #header #player #player-time #progress-bar #progress {
            position: absolute;
            background-color: #81c3cf;
            height: 11px;
            -moz-border-radius: 10px 0 0 10px;
            -webkit-border-radius: 10px 0px 0 10px;
            width: 20px; }
        #container #header #player #player-time #current-time {
          float: right;
          font-size: 10px;
          color: #f2f2f2;
          margin: -1px 0 0 4px; }
        #container #header #player #player-time #total-time {
          float: right;
          font-size: 10px;
          color: #f2f2f2;
          margin: -1px 0 0 0; }
      #container #header #player #player-volume {
        float: left;
        height: 32px;
        width: 32px;
        background: url(/images/sprites.png) no-repeat -10px -95px; }
        #container #header #player #player-volume:hover {
          background-position: -39px -95px; }
      #container #header #player .player-divider {
        margin: 10px 10px 0; }
      #container #header #player #feedback-frame {
        margin: 0 5px 5px; }
      #container #header #player .feedback-row {
        border-top: 1px solid #4b4f4e;
        border-bottom: 1px solid black;
        background-color: black;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #232323), color-stop(0.6, #333333));
        background: -moz-linear-gradient(center bottom, #232323 20%, #333333 60%);
        height: 32px;
        padding-top: 3px; }
        #container #header #player .feedback-row .category {
          color: #f2f2f2;
          font-size: 20px;
          text-align: right; }
        #container #header #player .feedback-row .star-frame {
          cursor: pointer;
          overflow: auto;
          float: right;
          width: 110px;
          margin: 0 5px; }
        #container #header #player .feedback-row .star {
          float: left;
          width: 20px;
          height: 20px;
          margin: 3px 1px;
          background: url(/images/sprites.png) no-repeat -20px -146px; }
          #container #header #player .feedback-row .star:hover {
            background-position: -49px -146px; }
      #container #header #player #feedback-form {
        margin: 0; }
      #container #header #player #comment-box {
        width: 240px;
        margin: 5px 0;
        height: 135px;
        font-size: 12px;
        color: #eeeeee;
        font-weight: normal;
        background: #222222;
        border-bottom: 1px solid #999999;
        border-top: 2px solid black;
        border-left: 1px solid #222222;
        border-right: 1px solid #222222;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
      #container #header #player #feedback-submit {
        width: 240px;
        margin: 0;
        font-size: 24px;
        color: white;
        background: #81c3cf;
        border-top: 1px solid #4b4f4e;
        border-left: 1px solid #222222;
        border-right: 1px solid #222222;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        cursor: pointer; }
  #container #main-section-frame {
    overflow: auto;
    float: right;
    width: 555px;
    margin: 0 5px 10px; }
  #container .menu-background {
    background-color: #4b4f4e; }

.song-list-container {
  margin: 15px;
  padding: 0;
  -moz-box-shadow: 0px 0px 15px #aaaaaa;
  -webkit-box-shadow: 0px 0px 15px #aaaaaa;
  background: white; }
  .song-list-container .song-list-category {
    background: #81c3cf;
    color: #f2f2f2;
    font-size: 20px;
    height: 20px;
    padding: 6px 10px 10px; }
  .song-list-container .song-list-item {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #cbcfce;
    cursor: pointer; }
    .song-list-container .song-list-item:hover {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0.7, #e6e6e6), color-stop(0.87, #d6d6d6));
      background: -moz-linear-gradient(center bottom, #e6e6e6 70%, #d6d6d6 87%); }
    .song-list-container .song-list-item .song-list-names {
      float: left; }
      .song-list-container .song-list-item .song-list-names .song-list-title {
        position: relative;
        font-size: 12px;
        font-weight: bold; }
      .song-list-container .song-list-item .song-list-names .song-list-artist {
        font-size: 12px; }
    .song-list-container .song-list-item .song-list-data {
      float: right; }
      .song-list-container .song-list-item .song-list-data .song-list-date {
        text-align: right;
        font-size: 12px; }
      .song-list-container .song-list-item .song-list-data .song-list-time {
        text-align: right;
        font-size: 12px; }
  .song-list-container .song-list-overlay {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.7, #e6e6e6), color-stop(0.87, #d6d6d6));
    background: -moz-linear-gradient(center bottom, #e6e6e6 70%, #d6d6d6 87%); }
