#login {
  width: 345px;
  margin: 30px auto; }
  #login h1 {
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 5px 0;
    color: #4b4f4e; }
  #login h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #606463; }
  #login #login-form {
    overflow: auto;
    margin: 10px 0;
    padding: 10px 20px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    ground: green; }
    #login #login-form #login-submit {
      float: right;
      padding: 5px;
      font-size: 14px;
      width: 100px;
      border-top: 1px solid #888888;
      border-bottom: 2px solid #eeeeee;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #81c3cf;
      cursor: pointer; }
    #login #login-form #register-submit {
      margin-top: 15px;
      float: right;
      padding: 5px;
      font-size: 14px;
      width: 100px;
      border-top: 1px solid #888888;
      border-bottom: 2px solid #eeeeee;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #81c3cf;
      cursor: pointer; }
  #login #reg-sell {
    margin-top: 30px; }
  #login #reg-log-button {
    float: right;
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 14px;
    width: 140px;
    text-align: center;
    border-top: 1px solid #888888;
    border-bottom: 2px solid #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #81c3cf;
    cursor: pointer; }
    #login #reg-log-button a {
      color: white; }

.form-item {
  padding-top: 10px; }
  .form-item .input {
    padding: 8px 5px 5px;
    font-size: 12px;
    width: 300px;
    border-top: 1px solid #888888;
    border-bottom: 2px solid #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: #606463;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

body {
  font-family: "Helvetica Neue", Helvetica, Verdana, Sans-Serif;
  font-size: 0.9em;
  margin: 0; }

a {
  text-decoration: none;
  color: #32312f;
  cursor: pointer; }

a:hover {
  color: #81c3cf; }

img {
  border: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

#banner {
  width: 100%;
  height: 50px;
  background-color: #606463;
  margin: 0;
  padding: 0; }

#container {
  overflow: auto;
  position: relative;
  top: -50px;
  width: 850px;
  padding: 0 0 15px 15px;
  margin: 0 auto; }
  #container #header {
    height: 50px;
    width: 100%; }
    #container #header #menu {
      float: right;
      overflow: auto;
      width: 568px;
      height: 50px;
      color: #f2f2f2;
      font-size: 16px;
      font-weight: normal;
      margin: 14px 0 0 30px; }
      #container #header #menu #menu-songs {
        overflow: auto;
        float: left;
        padding: 4px 12px 5px 8px;
        margin-right: 10px;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0; }
        #container #header #menu #menu-songs .songs {
          float: left; }
        #container #header #menu #menu-songs .arrow {
          width: 57px;
          height: 14px;
          background: url(/images/sprites.png) no-repeat 22px -171px; }
      #container #header #menu #menu-myfeedback {
        overflow: auto;
        float: left;
        padding: 4px 12px 5px 8px;
        margin-right: 10px;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0; }
        #container #header #menu #menu-myfeedback .myfeedback {
          float: left; }
        #container #header #menu #menu-myfeedback .arrow {
          width: 108px;
          height: 14px;
          background: url(/images/sprites.png) no-repeat 74px -171px; }
      #container #header #menu #menu-myaccount {
        overflow: auto;
        float: right;
        padding: 4px 8px 5px 8px;
        margin-right: 10px;
        -moz-border-radius: 5px 5px 0 5px;
        -webkit-border-radius: 5px 5px 0 5px;
        min-width: 67px; }
        #container #header #menu #menu-myaccount .myaccount {
          float: right; }
        #container #header #menu #menu-myaccount .arrow {
          float: right;
          width: 10px;
          height: 14px;
          background: url(/images/sprites.png) no-repeat -23px -171px; }
      #container #header #menu #menu-songs-list {
        background: #4b4f4e;
        position: absolute;
        width: 120px;
        z-index: 1000;
        left: 297px;
        top: 40px;
        margin: 0;
        padding: 0;
        display: none;
        -moz-border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-box-shadow: 0px 8px 8px #888888;
        -webkit-box-shadow: 0px 8px 8px #888888; }
        #container #header #menu #menu-songs-list ul a {
          font-size: 13px;
          display: block;
          outline: 0;
          padding: 4px 10px;
          background-color: #4b4f4e;
          color: white; }
          #container #header #menu #menu-songs-list ul a:hover {
            background-color: #81c3cf; }
        #container #header #menu #menu-songs-list ul li .last {
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px; }
        #container #header #menu #menu-songs-list ul li .first {
          -moz-border-radius: 0 5px 0 0;
          -webkit-border-radius: 0 5px 0 0; }
      #container #header #menu #menu-myfeedback-list {
        background: #4b4f4e;
        position: absolute;
        z-index: 1000;
        left: 384px;
        top: 40px;
        margin: 0;
        padding: 0;
        display: none;
        -moz-border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-box-shadow: 0px 8px 8px #888888;
        -webkit-box-shadow: 0px 8px 8px #888888; }
        #container #header #menu #menu-myfeedback-list ul a {
          font-size: 13px;
          display: block;
          outline: 0;
          padding: 4px 10px;
          background-color: #4b4f4e;
          color: white; }
          #container #header #menu #menu-myfeedback-list ul a:hover {
            background-color: #81c3cf; }
        #container #header #menu #menu-myfeedback-list ul #user-stat-container {
          margin: 5px;
          background: #cbcfce;
          border-top: 1px solid white; }
          #container #header #menu #menu-myfeedback-list ul #user-stat-container .menu-stat {
            display: block;
            outline: 0;
            padding: 4px 10px;
            color: #4b4f4e; }
        #container #header #menu #menu-myfeedback-list ul li .last {
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px; }
        #container #header #menu #menu-myfeedback-list ul li .first {
          -moz-border-radius: 0 5px 0 0;
          -webkit-border-radius: 0 5px 0 0; }
      #container #header #menu #menu-myaccount-list {
        background: #4b4f4e;
        position: absolute;
        z-index: 1000;
        left: 785px;
        top: 40px;
        margin: 0;
        padding: 0;
        display: none;
        -moz-border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-box-shadow: 0px 8px 8px #888888;
        -webkit-box-shadow: 0px 8px 8px #888888; }
        #container #header #menu #menu-myaccount-list ul a {
          font-size: 13px;
          display: block;
          outline: 0;
          padding: 4px 10px;
          background-color: #4b4f4e;
          color: white; }
          #container #header #menu #menu-myaccount-list ul a:hover {
            background-color: #81c3cf; }
        #container #header #menu #menu-myaccount-list ul li .last {
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px; }
  #container #main-section-frame {
    overflow: auto;
    float: right;
    width: 575px;
    margin: 0 0 10px; }
  #container .menu-background {
    background-color: #4b4f4e; }

#duplicate-review {
  display: none;
  position: absolute;
  top: 200px;
  left: 250px;
  width: 380px;
  padding: 10px;
  background: #606463;
  border: 4px solid white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: white;
  font-size: 16px;
  z-index: 10000; }
  #duplicate-review #message {
    padding-bottom: 40px; }
  #duplicate-review #cancel {
    padding: 5px 10px;
    float: right;
    background: #cbcfce;
    border: 2px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #111111;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer; }
    #duplicate-review #cancel:hover {
      background: #4b4f4e;
      color: white; }
  #duplicate-review #override {
    padding: 5px 10px;
    float: right;
    background: #cbcfce;
    border: 2px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #111111;
    font-size: 14px;
    cursor: pointer; }
    #duplicate-review #override:hover {
      background: #4b4f4e;
      color: white; }

#darkener {
  display: none;
  background-color: black;
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; }

.my-songs-title {
  overflow: auto;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 7px; }
  .my-songs-title .title {
    float: left;
    font-size: 30px;
    color: #606463; }
  .my-songs-title .upload {
    float: left;
    margin: 0 20px;
    padding: 0; }
    .my-songs-title .upload #add-button {
      float: right;
      margin-top: 8px;
      padding: 5px 10px;
      font-size: 11px;
      text-align: center;
      color: #4b4f4e;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      background: #cbcfce;
      cursor: pointer; }
      .my-songs-title .upload #add-button a {
        color: #4b4f4e; }
      .my-songs-title .upload #add-button:hover {
        background: #4b4f4e;
        color: white; }

.all-songs-container {
  overflow: auto; }

.pick-song {
  float: right;
  width: 200px;
  border-left: 2px solid #eeeeee;
  padding: 5px 0; }
  .pick-song .title {
    font-size: 14px;
    font-weight: bold;
    color: #4b4f4e;
    padding: 0 5px 5px 5px; }
  .pick-song .pick-song-item {
    font-weight: bold;
    font-size: 12px;
    color: #606463;
    padding: 4px 6px;
    cursor: pointer; }
    .pick-song .pick-song-item:hover {
      background: #eeeeee; }
  .pick-song .current {
    background: #eeeeee; }

.my-songs-container {
  display: none;
  float: left;
  margin: 15px 15px 15px 0;
  padding: 0;
  background: white; }
  .my-songs-container .song-list-category {
    width: 350px; }
    .my-songs-container .song-list-category .song-title {
      color: #4b4f4e;
      font-size: 20px;
      padding: 0 10px 0 0; }
    .my-songs-container .song-list-category .song-artist {
      color: #606463;
      font-size: 16px;
      padding: 0 10px 5px 0; }
  .my-songs-container .top-graph {
    width: 350px;
    overflow: auto; }
    .my-songs-container .top-graph .total-ratings-label {
      float: left;
      height: 12px;
      color: #606463;
      font-size: 12px;
      padding: 0 0 5px 0; }
    .my-songs-container .top-graph .key {
      float: right;
      overflow: auto;
      font-size: 10px; }
      .my-songs-container .top-graph .key .score {
        float: left;
        overflow: auto; }
        .my-songs-container .top-graph .key .score .box {
          float: left;
          width: 7px;
          height: 7px;
          margin: 3px 3px 0 5px;
          border: 1px solid black;
          background: #81c3cf;
          background: -webkit-gradient(linear, right top, left top, color-stop(0.01, #81c3cf), color-stop(0.5, #aae1eb), color-stop(0.99, #81c3cf));
          background: -moz-linear-gradient(right center, #81c3cf 16%, #aae1eb 50%, #81c3cf 84%); }
      .my-songs-container .top-graph .key .average {
        float: right;
        overflow: auto; }
        .my-songs-container .top-graph .key .average .box {
          float: left;
          width: 7px;
          height: 7px;
          margin: 3px 3px 0 5px;
          border: 1px solid black;
          background: #4b4f4e;
          background: -webkit-gradient(linear, right top, left top, color-stop(0.01, #4b4f4e), color-stop(0.5, #5d6362), color-stop(0.99, #4b4f4e));
          background: -moz-linear-gradient(right center, #4b4f4e 16%, #5d6362 50%, #4b4f4e 84%); }
  .my-songs-container .song-item {
    overflow: none;
    height: 320px; }
    .my-songs-container .song-item .ratings {
      float: left; }
    .my-songs-container .song-item .rankings {
      float: right; }
    .my-songs-container .song-item .graph-labels {
      overflow: none;
      height: 20px; }
      .my-songs-container .song-item .graph-labels .graph-label {
        width: 58px;
        margin: 0 0px;
        float: left;
        font-size: 9px;
        color: #606463;
        text-align: center; }
    .my-songs-container .song-item .graph {
      height: 300px;
      width: 350px;
      border-top: 1px solid #cbcfce;
      border-bottom: 2px solid #606463;
      background: url(/images/graph_back.png); }
      .my-songs-container .song-item .graph .bar1 {
        float: left;
        height: 300px;
        width: 30px;
        margin: 0 0 0 7px;
        background: #81c3cf;
        background: -webkit-gradient(linear, right top, left top, color-stop(0.01, #81c3cf), color-stop(0.5, #aae1eb), color-stop(0.99, #81c3cf));
        background: -moz-linear-gradient(right center, #81c3cf 16%, #aae1eb 50%, #81c3cf 84%); }
        .my-songs-container .song-item .graph .bar1 .indicator1 {
          background: white url(/images/graph_back.png);
          width: 30px;
          height: 0; }
      .my-songs-container .song-item .graph .bar2 {
        float: left;
        height: 300px;
        width: 14px;
        margin: 0 7px 0 0;
        background: #4b4f4e;
        background: -webkit-gradient(linear, right top, left top, color-stop(0.01, #4b4f4e), color-stop(0.5, #5d6362), color-stop(0.99, #4b4f4e));
        background: -moz-linear-gradient(right center, #4b4f4e 16%, #5d6362 50%, #4b4f4e 84%); }
        .my-songs-container .song-item .graph .bar2 .indicator2 {
          background: white url(/images/graph_back.png);
          width: 14px;
          height: 0; }
    .my-songs-container .song-item .legend {
      float: right;
      width: 100px;
      height: 100px;
      border: 2px solid #eeeeee; }
  .my-songs-container .comments-title {
    color: #4b4f4e;
    font-size: 20px;
    padding: 0 10px 0 0; }
  .my-songs-container .song-comments {
    width: 350px;
    margin: 10px 0 5px;
    border-top: 1px solid #cbcfce;
    padding-top: 5px; }
    .my-songs-container .song-comments .commenter-container {
      width: 350px;
      overflow: hidden; }
      .my-songs-container .song-comments .commenter-container .commenter-username {
        font-size: 14px;
        font-weight: bold;
        float: left;
        margin: 0 10px 0 0; }
      .my-songs-container .song-comments .commenter-container .commenter-critic {
        font-size: 13px;
        color: #4b4f4e;
        float: left;
        margin: 2px 0 0 0; }
    .my-songs-container .song-comments .comment-container {
      width: 350px;
      margin: 3px 0 0; }
    .my-songs-container .song-comments .commenter-comment-date {
      font-size: 10px;
      color: #606463;
      margin: 3px 0 0 0; }

#player {
  float: left;
  width: 250px;
  background: #333333;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #3d3d3d), color-stop(0.6, #232323));
  background-image: -moz-linear-gradient(center bottom, #3d3d3d 20%, #232323 60%);
  margin-top: 5px;
  -moz-box-shadow: 0px 0px 15px #333333;
  -webkit-box-shadow: 0px 0px 15px #333333; }
  #player #player-header {
    cursor: pointer;
    height: 50px;
    width: 100%;
    background: url(/images/sprites.png) no-repeat 16px 6px;
    background-color: #81c3cf;
    margin-bottom: 15px; }
  #player #jquery_jplayer_1 {
    overflow: auto; }
  #player .jp-audio {
    overflow: auto; }
  #player .jp-controls {
    float: left; }
  #player #player-title p {
    font-size: 14px;
    font-weight: bold;
    color: #f2f2f2;
    margin: 4px;
    padding: 0;
    text-align: center; }
  #player #player-artist p {
    font-size: 13px;
    color: #f2f2f2;
    margin: 4px;
    padding: 0;
    text-align: center;
    font-style: italic; }
  #player #player-description p {
    font-size: 11px;
    color: #f2f2f2;
    margin: 4px;
    padding: 0;
    text-align: center; }
  #player #player-controls {
    overflow: auto; }
  #player #play-pause-control {
    float: left;
    margin: 4px 0 0 -10px;
    height: 32px;
    width: 32px;
    cursor: pointer; }
    #player #play-pause-control #play-button {
      height: 32px;
      width: 32px;
      background: url(/images/sprites.png) no-repeat -10px -57px; }
      #player #play-pause-control #play-button:hover {
        background-position: -40px -57px; }
    #player #play-pause-control #pause-button {
      height: 32px;
      width: 32px;
      background: url(/images/sprites.png) no-repeat -72px -99px; }
      #player #play-pause-control #pause-button:hover {
        background-position: -102px -99px; }
  #player #player-time {
    height: 11px;
    float: left;
    width: 125px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 17 5px 0 2px; }
  #player #progress-bar {
    overflow: auto;
    height: 11px;
    background-color: #cbcfce;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.41, #bcc7cc), color-stop(0.91, #f5f9fa));
    background: -moz-linear-gradient(center bottom, #bcc7cc 41%, #f5f9fa 91%);
    margin: 0; }
  #player .jp-progress {
    width: 125px; }
    #player .jp-progress #progress {
      position: absolute;
      background: #81c3cf;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6099a3), color-stop(0.78, #81c3cf));
      background: -moz-linear-gradient(center bottom, #6099a3 0%, #81c3cf 78%);
      height: 11px;
      width: 20px; }
  #player #current-time {
    float: left;
    font-size: 10px;
    color: #f2f2f2;
    margin: 16px 0 0 3px; }
  #player #total-time {
    float: left;
    font-size: 10px;
    color: #f2f2f2;
    margin: 16px 0 0 0; }
  #player #slash {
    float: left;
    font-size: 10px;
    color: #f2f2f2;
    margin: 16px 1px 0; }
  #player #player-volume {
    float: left;
    height: 32px;
    width: 32px;
    background: url(/images/sprites.png) no-repeat -10px -95px; }
    #player #player-volume:hover {
      background-position: -39px -95px; }
  #player .player-divider {
    margin: 10px 10px 0; }
  #player #feedback-frame {
    margin: 0 5px 5px; }
  #player .feedback-row {
    border-top: 1px solid #4b4f4e;
    border-bottom: 1px solid black;
    background-color: black;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #232323), color-stop(0.6, #333333));
    background: -moz-linear-gradient(center bottom, #232323 20%, #333333 60%);
    height: 32px;
    padding-top: 3px; }
    #player .feedback-row .category {
      color: #f2f2f2;
      font-size: 20px;
      text-align: right; }
    #player .feedback-row .star-frame {
      cursor: pointer;
      overflow: auto;
      float: right;
      width: 110px;
      margin: 0 5px; }
    #player .feedback-row .star {
      float: left;
      width: 20px;
      height: 20px;
      margin: 3px 1px;
      background: url(/images/sprites.png) no-repeat -20px -146px; }
    #player .feedback-row .hover_starred {
      background-position: -49px -146px; }
    #player .feedback-row .starred {
      background-position: -49px -146px; }
    #player .feedback-row .hover_unstar {
      background-position: -20px -146px; }
  #player #feedback-form {
    margin: 0; }
  #player #comment-box {
    width: 240px;
    margin: 5px 0;
    height: 135px;
    font-size: 12px;
    color: #eeeeee;
    font-weight: normal;
    background: #222222;
    border-bottom: 1px solid #999999;
    border-top: 2px solid black;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  #player #feedback-submit {
    width: 240px;
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: white;
    background: #81c3cf;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #81c3cf), color-stop(0.79, #9dd8e3));
    background: -moz-linear-gradient(center bottom, #81c3cf 15%, #9dd8e3 79%);
    border-top: 1px solid #4b4f4e;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer; }
    #player #feedback-submit:hover {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #9dd8e3), color-stop(0.79, #81c3cf));
      background: -moz-linear-gradient(center bottom, #9dd8e3 15%, #81c3cf 79%); }

.song-list-container {
  margin: 15px 15px 15px 15px;
  padding: 0;
  -moz-box-shadow: 0px 0px 15px #aaaaaa;
  -webkit-box-shadow: 0px 0px 15px #aaaaaa;
  background: white; }
  .song-list-container .song-list-category {
    background: #81c3cf;
    color: #f2f2f2;
    font-size: 20px;
    height: 20px;
    padding: 6px 10px 10px; }
    .song-list-container .song-list-category a {
      color: #f2f2f2; }
      .song-list-container .song-list-category a:hover {
        text-decoration: underline; }
  .song-list-container .song-item .song-list-item {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #cbcfce; }
    .song-list-container .song-item .song-list-item:hover {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0.7, #e6e6e6), color-stop(0.87, #d6d6d6));
      background: -moz-linear-gradient(center bottom, #e6e6e6 70%, #d6d6d6 87%); }
    .song-list-container .song-item .song-list-item .song-list-play-button-container {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 7px;
      cursor: pointer; }
      .song-list-container .song-item .song-list-item .song-list-play-button-container .song-list-index {
        width: 30px;
        height: 30px;
        margin: 5px 0 0 10px;
        font-size: 16px;
        color: #606463; }
      .song-list-container .song-item .song-list-item .song-list-play-button-container .song-list-play-button {
        display: none;
        width: 30px;
        height: 30px;
        background: url(/images/sprites.png) no-repeat -76px -57px; }
        .song-list-container .song-item .song-list-item .song-list-play-button-container .song-list-play-button:hover {
          background: url(/images/sprites.png) no-repeat -106px -57px; }
    .song-list-container .song-item .song-list-item .song-list-names {
      float: left;
      width: 330px; }
      .song-list-container .song-item .song-list-item .song-list-names .song-list-title {
        position: relative;
        font-size: 12px;
        height: 15px;
        font-weight: bold;
        overflow: hidden; }
      .song-list-container .song-item .song-list-item .song-list-names .song-list-artist {
        font-size: 12px;
        height: 14px;
        overflow: hidden; }
    .song-list-container .song-item .song-list-item .stats-button {
      display: none;
      float: right;
      font-size: 9px;
      font-weight: bold;
      background: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 2px 4px;
      cursor: pointer; }
      .song-list-container .song-item .song-list-item .stats-button:hover {
        background: #cbcfce; }
    .song-list-container .song-item .song-list-item .song-list-data {
      float: right;
      overflow: hidden;
      width: 150px;
      height: 32px; }
      .song-list-container .song-item .song-list-item .song-list-data .song-feedbacks {
        float: left;
        overflow: hidden;
        width: 100px;
        font-weight: bold; }
      .song-list-container .song-item .song-list-item .song-list-data .song-overall {
        float: right;
        overflow: hidden;
        width: 36px; }
      .song-list-container .song-item .song-list-item .song-list-data .feedbacks-label {
        color: #606463;
        text-align: right;
        font-size: 10px;
        margin-top: 3px; }
      .song-list-container .song-item .song-list-item .song-list-data .comments-label {
        color: #606463;
        text-align: right;
        font-size: 10px;
        margin-top: 0px; }
      .song-list-container .song-item .song-list-item .song-list-data .overall-label {
        background: url(/images/sprites.png) no-repeat -79px -146px;
        float: left;
        width: 20px;
        height: 18px;
        font-size: 12px;
        margin: 6px 2px 0 0; }
      .song-list-container .song-item .song-list-item .song-list-data .graph {
        float: right;
        width: 14px; }
        .song-list-container .song-item .song-list-item .song-list-data .graph .bar {
          height: 20px;
          width: 6px;
          margin: 0 4px;
          background: #4b4f4e; }
          .song-list-container .song-item .song-list-item .song-list-data .graph .bar .indicator {
            background: #cbcfce;
            width: 6px;
            height: 0; }
        .song-list-container .song-item .song-list-item .song-list-data .graph .number {
          text-align: center;
          height: 10px;
          font-size: 8px; }
  .song-list-container .song-item .song-list-overlay {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.7, #e6e6e6), color-stop(0.87, #d6d6d6));
    background: -moz-linear-gradient(center bottom, #e6e6e6 70%, #d6d6d6 87%); }
