:javascript
  if (document.location.pathname != "/"){window.location = document.location.origin + "/#" + document.location.pathname;}
#about-page
  .title
    About
  .text
    I have been writing and recording music for 15 years. My friends and family always tell me that they like the songs that I write, but they are my friends. Why would they ever tell me that my latest song is not good? Even a stranger doesn't want to tell you that to your face.
  .text
    I decided that I needed some purely unbiased feedback so I headed off into the world wide web to find it. When I couldn't find something adequate, I decided to build it myself. I hope other people find it useful as well.
  .text
    If you have any questions or comments about the site, don't hesitate to use the
    %a.ajax{:href => "/welcome/contact"} contact
    page
  .title
    .question
    .answer