#recent.song-list-container
  .song-list-category
    Most Recent
    .more-button
  .song-list-item
    .song-list-names
      .song-list-title Your True
      .song-list-artist Eddie Vedder
    .song-list-data
      .song-list-date 5/29/11
      .song-list-time 4:01
  .song-list-item
    .song-list-names
      .song-list-title Sleepless Nights featuring Glen Hansard
      .song-list-artist Eddie Vedder
    .song-list-data
      .song-list-date 5/29/11
      .song-list-time 4:01
  .song-list-item
    .song-list-names
      .song-list-title Doors Unlocked and Open
      .song-list-artist Death Cab for Cutie
    .song-list-data
      .song-list-date 5/29/11
      .song-list-time 4:02
  .song-list-item
    .song-list-names
      .song-list-title Draw Your Swords
      .song-list-artist Angus and Julia Stone
    .song-list-data
      .song-list-date 5/29/11
      .song-list-time 4:01
  .song-list-item
    .song-list-names
      .song-list-title Holdin on to Black Metal
      .song-list-artist My Morning Jacket
    .song-list-data
      .song-list-date 5/29/11
      .song-list-time 4:01

#least-rated.song-list-container
  .song-list-category
    Least Rated
    .more-button
  .song-list-item
    .song-list-names
      .song-list-title song1
      .song-list-artist artist
    .song-list-data
      .song-list-date 5/29/11
      .song-list-time 4:01
  .song-list-item spmg 2
  .song-list-item song 3
  .song-list-item song 4
  .song-list-item song 5
