#privacy-page
  .title Privacy Policy
  .text
    This privacy policy covers all of the Song Feedback website. Please read this statement carefully before using or proceeding to access Song Feedback. Your use of Song Feedback indicates you have read and understood this privacy policy and indicates your agreement to abide by the
    %a.ajax{:href => "/welcome/terms"} Terms of Use
    in effect.
  .subtitle 1.	Information Collection
  .text Song Feedback may collect information from our users at several different points on the Song Feedback.
  .subtext
    a.	Comments – In order to enhance their use of the Song Feedback, users can choose to leave comments for song reviews. Commenters may register anonymously. However, if a third party complains that a comment breaches our
    %a.ajax{:href => "/welcome/terms"} Terms of Use
    , then in accordance with our
    %a.ajax{:href => "/welcome/terms"} Terms of Use
    , we will make reasonable efforts to contact the commenter and alert them to the situation. If we are required to by law to disclose commenters’ contact information, we will attempt to contact commenters to give them the opportunity to respond to such requests.
  .subtext b.	Service Emails - Upon registering, a user is asked to provide a valid email address. Song Feedback may send emails to some or all of Song Feedbacks subscribers, in order to provide subscribers with relevant information - password reminders, notifications, updates, for example. This information will not be passed to any other organization.
  .subtext c. Cookies – Song Feedback may use cookies. A cookie is a piece of data stored on the user's computer tied to information about the user. We may use both session ID cookies and persistent cookies. For the session ID cookie, once users close the browser, the cookie simply terminates. A persistent cookie is a small text file stored on the user’s hard drive for an extended period of time. Persistent cookies can be removed by following the user’s Internet browser help file directions.   By setting a cookie on Song Feedback, users will not have to log in a password more than once, thereby saving time while navigating and revisiting the site. If you reject all cookies, you will not be able to use Song Feedback's site properly.
  .subtext d.	Links – Song Feedback may contain links to other sites. Please be aware that Song Feedback is not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by Song Feedback.
  .subtext e.	Log Files – Like most standard Web site servers we use log files. This includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyze trends, administer the site, track user’s movement in the aggregate, and gather broad demographic information for aggregate use. IP addresses, etc. are not linked to personally identifiable information. We may use a tracking utility that uses log files to analyze user movement.

  -#.text 2.	Advertising
  -#.subtext a.	First Party Ad Serving – The ads appearing on this website are delivered to you by Google's DoubleClick, our web advertising vendor. Song Feedback uses only first party data about your visits to this site to serve ads to you. First party data only includes information collected during your current search or visit to our site. First party data that we collect is not shared with any other third parties and is only used for proprietary ad delivery, ad reporting, and contextual advertising. As such, Song Feedback is not a participant in online behavioral advertising as defined by the Digital Advertising Alliance and FTC.
  -#.subtext b.	Third Party Advertising and Cookies – Some of our third party advertising partners may distribute cookies to users in advertisements that are provided to us. Song Feedback has no access to or control over these cookies once we have received the advertisements from third parties. These advertisers may be engaging in online behavioral advertising as defined by the Digital Advertising Alliance and FTC.
  -#.subtext c.	Opt-out – As part of our commitment to transparency and your privacy, we provide the following links to opt-out of cookies provided by both our first party ad server and many third party advertising partners who may be engaging in online behavioral advertising:
  -#.subtext i.	First Party Opt-out – Please visit this link to opt-out of cookies from our first party ad serving vendor, Google: http://www.google.com/privacy/ads/
  -#.subtext ii.	Third Party and Online Behavioral Advertising Opt-out – Please visit this link to opt-out of cookies from over 50+ major third party behavioral advertising providers: http://www.aboutads.info/choices/

  .subtitle 2.	Audio File Uploads
  .text
    As part of the Song Feedback website, the user may upload their own audio files onto the site. These files are available for streaming by any other user that visits Song Feedback. Song Feedback does not claim any ownership rights of this content, only the rights to share this content. The user is responsible for the content that they upload and must abide by the
    %a.ajax{:href => "/welcome/terms"} Terms of Use
    when uploading. It is also possible that these files may be downloaded by other users, although this functionality is not supported by Song Feedback.

  .subtitle 3.	Business Transitions
  .text In the event Song Feedback goes through a business transition, such as a merger, acquisition by another company, or sale of a portion of its assets, users' personal information will, in most instances, be part of the assets transferred.

  .subtitle 4.	Legal Disclaimer
  .text Though we make every effort to preserve user privacy, Song Feedback may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process served on any of the Song Feedback.

  .subtitle 5.	Information Security
  .text Song Feedback has safeguards in place to help protect against unauthorized access to, use or disclosure of user information we maintain. Although we work hard to protect personal information that we collect and store, no program is one hundred percent secure and we cannot guarantee that our safeguards will prevent every unauthorized attempt to access, use or disclose personal information.

  .text If you become aware of a security issue, please email us at info [at] songfeedback [dot] com. We will work with you to address any problems.

  .subtitle 6.	Notification of Changes
  .text Whenever Song Feedback changes its privacy policy, we will post those changes to this Privacy Policy page, and other places we deem appropriate so our users are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.

  .subtitle  7.	Contact Information
  .text
    If you have any questions or suggestions regarding our privacy policy, please send an email to info AT songfeedback.com, or by using the
    %a.ajax{:href => "/welcome/contact"} contact
    page on the Song Feedback site

  .subtitle 8.	Effective Date
  .text This Privacy Policy is effective January 1st, 2012.