:javascript
  if (document.location.pathname != "/"){window.location = document.location.origin + "/#" + document.location.pathname;}
#terms-page
  .title Terms of Service
  .text The Terms of Use covers all of the Song Feedback website and any associated content. Please read this statement carefully before proceeding to access any Song Feedback content. Your use of Song Feedback indicates your agreement to abide by the Terms of Use in effect.

  .subtitle 1.	General Terms of Use
  .text Song Feedback provides content "as is" and Song Feedback shall not be held liable for your use of the information or your use of Song Feedback. Use of Song Feedback's content, including text and images, on your site, or in print, is entirely at your discretion. Song Feedback is not responsible for any complaints regarding content or images that you choose to display on your site or in print.

  .subtitle 2.	Corresponding with Song Feedback
  .text Any correspondence with Song Feedback, is considered property of Song Feedback. Song Feedback reserves the right to reproduce such content.

  .subtitle 3. Audio Uploads to Song Feedback
  .text The following guidelines have been established for audio uploads by users:
  .subtext a. In submitting an audio file to us, you are representing that the content is yours to give to us, does not infringe on any third party's rights - copyright, trademark, privacy rights and the like - and is not libelous or unlawful in any other way.
  .subtext b. The user gives Song Feedback consent to share this content by uploading the content on Song Feedback.
  .subtext c. Song Feedback reserves the right to remove audio files and accounts entirely at its discretion, including for alleged violations of Terms of Use or legal rights.
  .subtext d. Song Feedback is not responsible for the content of user audio uploads. If a third party complains that your comment violates our Terms of Use or their rights, we will make reasonable efforts to contact you by the means you have provided us, to alert you to the situation. We will protect your contact information as described in our Privacy Policy, but may be compelled to turn it over pursuant to legal process.

  .subtitle 4.	Comments
  .text The comments sections on Song Feedback are accessible to signed in users only. Song Feedback will not accept responsibility for information posted in the Comments. The following guidelines have been established for comment users:
  .subtext a.	Do not post threatening, harassing, defamatory, or libelous material.
  .subtext b.	Do not intentionally make false or misleading statements.
  .subtext c.	Do not offer to sell or buy any product or service.
  .subtext d.	Do not post material that infringes copyright or any other intellectual property interest.
  .subtext e.	Do not post information that you know to be confidential or sensitive or otherwise in breach of the law.
  .subtext f.	Keep all comments relevant to the particular subject where the comment is being posted.
  .text Please note that once you post a comment to one of our sites, it becomes part of the public conversation. Our policy is that we will not remove a user's comments unless we deem them to be in violation of our Terms of Use. So if you want to say something that you will later regret personally, it is advisable that you use a username that does not identify you. We cannot remove your comments simply because you have a change of heart about making them.
  .text Song Feedback reserves the right to remove comments and accounts entirely at its discretion, including for alleged violations of Terms of Use or legal rights.
  .text Song Feedback is not responsible for the content of user comments. If a third party complains that your comment violates our Terms of Use or their rights, we will invite them to respond in the comments themselves. If they pursue the complaint, we will make reasonable efforts to contact you by the means you have provided us, to alert you to the situation. We will protect your contact information as described in our Privacy Policy, but may be compelled to turn it over pursuant to legal process.

  .subtitle 5.	Notices
  .text If Song Feedback receives notice that Material posted is not in keeping with the Terms of Use or the intended use of the Comments section where it is posted, we reserve to right to remove the material. If you think we have published Material that infringes your copyright, we will address your concerns; however, if the material falls into one of the categories listed above, we believe that our use is legitimate and we will not remove it from the site.
  .text Please note that we will respond only to notices of alleged infringement that comply with the Digital Millennium Copyright Act. The text of the Act can be found at the U.S. Copyright Office Web Site.
  .text To file a notice of infringement with us, you must provide a written communication (by email with an attached and signed PDF or by fax) that sets forth the items specified below. Please do not send us regular mail, as we may not receive it in a timely fashion.
  .text To enable us to address your concerns, please provide the following information:
  .subtext I.	For the allegedly infringing content that you wish to have removed, provide the artist and song name that the material is associated with.
  .subtext II.	Provide information reasonably sufficient to permit us to contact you: an email address is preferred.
  .subtext IV.	Proof of copyright for the allegedly infringing content.
  .subtext V.	Include the following statement: "I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."
  .subtext VI.	Sign the document and email it to: info AT Song Feedback DOT com
  .text Please note that you will be liable for damages (including costs and attorneys' fees) if you materially misrepresent that any material on our sites is infringing your copyrights.
  .text Please note that a copy of each legal notice we receive will be sent (with your personal information removed) to Chilling Effects for publication. You can see an example of such a publication here.
  .text We also reserve the right to publish your letter on Song Feedback.

  .subtitle 6.	External Links Disclaimer
  .text Song Feedback may contain links to external, third party websites. By providing links to other sites, Song Feedback does not guarantee, approve or endorse the information or products available at these sites, nor does a link indicate any association with or endorsement by the linked site to the Song Feedback in question.
  .text Song Feedback does not operate or control and has no responsibility for the information, products and/or services found on any external sites. Nor do such links represent or endorse the accuracy or reliability of any information, products and/or services provided on or through any external sites, including, without limitation, warranties of any kind, either express or implied, warranties of title or non-infringement or implied warranties of merchantability or fitness for a particular purpose. Visitors to Song Feedback assume complete responsibility and risk in their use of any external sites. Visitors should direct any concerns regarding any external link to its site administrator or webmaster.

  .subtitle 7.	Information Security
  .text Song Feedback has technical safeguards in place to help protect against unauthorized access to, use or disclosure of user information we maintain.
  .text Although we work hard to protect personal information that we collect and store, no program is one hundred percent secure and we cannot guarantee that our safeguards will prevent every unauthorized attempt to access, use or disclose personal information.
  .text If you become aware of a security issue, please email us at info [at] Song Feedback [dot] com. We will work with you to address any problems.

  .subtitle 8.	Notification of Changes
  .text Whenever Song Feedback changes its Terms of Use, we will post those changes to this Terms of Use page, and other places we deem appropriate so our users are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.

  .subtitle 9.	Effective Date
  .text This statement of the Terms of Use is effective January 1st, 2012.