:javascript
  if (document.location.pathname != "/"){window.location = document.location.origin + "/#" + document.location.pathname;}
.song-list-container
  .song-list-category
    Top Overall Rating
  = render :partial => "songs"