#email-exp Enter your email and we'll send you your password
%form#login-form{:method => "POST", :action => "/authentication/login"}
  .form-item
    %input#email.input{:name => "username", :label => "username", :type => "text", :value => "email", :onfocus => "if (this.value == 'email') {this.value=''}", :onblur => "if(this.value == '') { this.value='email'}"}