%h1 Authentication#index
%p Find me in app/views/authentication/index.html.erb

%form#login-form{:method => "POST", :action => "/authentication/login"}
  #noticebox{:style => "display:none;"}
    #notice
  %h2.general Sign in and start listening
  .form-item
    %label{:for => "username"} Username (usually your e-mail address)
    %input#username{:name => "username", :label => "username", :type => "text" }
  .form-item
    %label{:for => "password"} Password
    %input#password{:name => "password", :type => "password" }
  .form-item
    %a{:target => "_blank", :href => ""} Forgot your password?
  .form-item
    .remember-me
      %input#remember_me.checkbox{:name => "remember_me", :type => "checkbox", :checked => "true" }
      %label{:for => "remember_me"} Remember me
    .sign-in
      %input#login-submit{:name => "login-submit", :type => "submit", :value => "Sign In"}
