#login
  %h1 Sign in

  %form#login-form{:method => "POST", :action => "/authentication/login"}
    -if !@error_message.nil?
      #login-form-error-message-container
        #login-form-error-message= @error_message
    .form-item
      %input#username.input{:name => "username", :label => "username", :type => "text", :value => "email", :onfocus => "if (this.value == 'email') {this.value=''}", :onblur => "if(this.value == '') { this.value='email'}"}
    .form-item
      %input#password.input{:name => "password", :type => "text", :value => "password", :onfocus => "if (this.value == 'password') {this.value=''; this.type='password'}", :onblur => "if(this.value == '') { this.value='password'; this.type='text'}" }
    .form-item
      %a{:target => "_blank", :href => ""} Forgot your password?

    .sign-in
      %input#login-submit{:name => "login-submit", :type => "submit", :value => "Sign In"}

  #reg-sell
    %h1 Not a Member?
    %h2 Registering is super easy, and super free!

    #reg-log-button.song-feedback-button-reg
      %a{:href => "register"} Create an account


